body {
  margin: 0;
  text-align: center;
  padding: 40px;
  background-color: rgba(244, 247, 250, 0.829);
  font-family: "Reddit Sans Condensed", sans-serif;
  background-image: url(" https://s3.amazonaws.com/shecodesio-production/uploads/files/000/132/513/original/wp5179254-spooky-house-cartoon-wallpapers.jpg?1720610505");
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 100vh;
  backdrop-filter: blur(2px);
  color: rgb(189, 143, 250);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
h1 {
  font-size: 60px;
  color: rgb(95, 95, 248);
}
p {
  color: black;
  font-style: italic;
}
form {
  padding: 50px;
}
a {
  color: blue;
}
